*.swp
*.suo
*.user

#folder
QCloudCSharpSDK/COSXML/bin
QCloudCSharpSDK/COSXML/obj
QCloudCSharpSDK/COSXMLTests/obj
QCloudCSharpSDK/COSXMLTests/bin
QCloudCSharpSDK/COSXMLTests/TestResults
QCloudCSharpSDK/COSXMLTests/coveragereport
QCloudCSharpSDK/NCOS
QCloudCSharpSDK/.idea
*.vs
.vscode
